#container {
	margin: 3%;
	padding: 3%;
	border-style: dotted;
	border-color: #8e057e;
}
.color {
	color: purple;
	text-shadow: 3px 2px 6px #FFC526;
}
.switch {
	color: teal;
	font-family: 'Fontdiner Swanky', cursive;
	text-shadow: 3px 2px 6px #FF6E19;
}
.color2 {
	color: gray;
	font-family: 'Fontdiner Swanky', cursive;
	text-shadow: 3px 2px 6px #AD32AD;
}
h1 {
	font-family: 'Bangers', cursive;
	font-size: 4.5rem;
	color: #1f9604;
}
.crazy {
	font-family: 'Fontdiner Swanky', cursive;
}
h2 {
	font-family: 'Barlow', sans-serif;
	font-size: 1.9rem;
}
.fl {
	color: purple;
}
.ca {
	color: teal;
}
.mi {
	color: gray;
}
#question {
	font-family: 'Bangers', cursive;
	font-size: 2.5rem;
	color: #db9f08;
}
p, li {
	font-family: 'Barlow', sans-serif;
	font-size: 1.3rem;
}
p {
	color: #1f9604;
}
button {
	padding: 5px;
}
button:hover {
	color: #fff;
	background-color: #db9f08;
}
.white {
	color: white;
	font-size: 2rem;
}
#really {
	width: 80%;
	max-width: 400px;
}
img {
	text=align: center;
}

@media (min-width: 940px) {
	#container {
		margin: 5% 18% 5% 18%;
	}
}
